.forgotpassword_container {
  position: relative;
  background-color: var(--header-color);
  width: 100vw;
  height: 100vh;
}
.forgotpassword_dropbox {
  position: absolute;
  background-color: var(--primary-text-color);
  max-width: 350px;
  width: 100%;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forgotpassword_dropbox_content {
  text-align: center;
  padding: 10px;
}

.forgotpassword_dropbox_title {
  font-size: 11px;
}
.forgotpassword_dropbox_content input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.forgotpassword_dropbox_btns {
  display: flex;
  justify-content: space-evenly;
}
.forgotpassword_btn {
  color: var(--primary-text-color);
  background-color: #114ffc;
  border: none;
  padding: 5px;
  width: 100%;
}

.forgotpassword_dropbox_resetbtn {
  margin: 10px 10px 10px 0;
}

.forgotpassword_dropbox_login-btn {
  margin: 10px 0 10px 10px;
}
.forgotpassword_dropbox_login-page-Link {
  color: var(--primary-text-color);
  text-decoration: none;
  width: 100%;
  margin: 10px 10px 10px 0;
}
