:root {
  --primary: #00f1cb;
  --primary-text-color: #ffffff;
  --header-color: #1e68d7;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  appearance: auto !important;
}

.login-signup-main-wrapper {
  max-width: 500px;
  width: 100%;
  padding-right: 43px;
}

.d-flex {
  display: flex;
}
